:root {
    --color-brand: #2F3C7E;
    --color-accent: #FBEAEB;
    --color-brand-dark: #7281c2;

    --color-neutral-100: #fcf6f5;
    --color-neutral-200: #c2bdbe;
    --color-neutral-300: #a5a1a3;
    --color-neutral-400: #878487;
    --color-neutral-500: #4c4b50;
    --color-neutral-600: #2f2f34;
    --color-neutral-700: #111218;

    --color-neutral: var(--color-neutral-400);
}

:root {
    --color-text: var(--color-neutral-700);
    --color-background: var(--color-neutral-100);
}

html.dark {
    &:root {
        --color-text: var(--color-neutral-100);
        --color-background: var(--color-neutral-700);
    }
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
